<div class="row">
  <div class="col-md-6">
    <label class="title">Course</label>
  </div>
  <div class="col-md-6">
    <div>
      <select class="select" (change)="onCourseSelected($event)">
        <option>--Select--</option>
        <option
          class="option"
          *ngFor="let course of coursename"
          [value]="course.name"
        >
          {{ course.name }}
        </option>
      </select>
    </div>
    <div class="mt-3">
      <button
        class="btn btn-primary"
        type="button"
        (click)="showInputForm = !showInputForm"
      >
        Add New Course
      </button>
    </div>
    <div>
      <app-course-edit *ngIf="showInputForm" (coursenameAdded)="onCourseNameAdded($event)"
        (coursenameDeleted)="onCourseNameDeleted()">
      </app-course-edit>
    </div>
  </div>
</div>